<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Travel App</title>
</head>

<body>
	<section id="wrap">
		<section class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">🔥</a>
				</div>
			</div>
		</section>
		<section id="app">
			<section>
				<h1>Travel App</h1>
				<p class="lead">Plan your next trip</p>
				<h3>
						<label for="city">Enter city here</label>
						<input type="text" id="city" placeholder="enter city here">
				</h3>
				<h3>
						<label for="country">Enter country here</label>
						<input type="text" id="country" placeholder="Enter your country here">
				</h3>
				<h3>
						<button id="generate" type="submit" class="btn btn-default btn-lg"> Generate </button>
				</h3>
			</section>
			<section>
				<img src="" alt="">
			</section>
			<section>

			</section>
		</section>
	</section>
	<section id="footer">
		<section class="container">
			<p>Travel app © All Rights Reserved.</p>
		</section>
	</section>

</body>
</html>
