<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Travel App</title>
</head>

<body>
	<section id="wrap">
		<section class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><h2>🍂</h2></a>
				</div>
			</div>
		</section>
		<main id="content" role="main" class="container">
			<section class="row">
				<section class="col-sm-6">
					<h1>Travel App</h1>
					<p class="lead">Plan your next trip</p>
					<h3>
							<label for="city">City:</label>
							<input type="text" id="city" placeholder="enter city here">
					</h3>
					<h3>
							<label for="country">Country:</label>
							<input list="countries" id="country" placeholder="Enter or select country">
							<datalist id="countries"></datalist>
					</h3>
					<h3>
						<label for="country">Date:</label>
						<input type="date" id="date" placeholder="Enter your date here">
					</h3>
					<h3>
							<button id="generate" type="submit" class="btn btn-default btn-lg"> Generate </button>
					</h3>
				</section>
				<section class="col-sm-6">
					<img id="front-splash" src="" alt="">
				</section>
			</section>
			<section class="row">
				<section class="col-12"></section>
			</section>
		</main>
	</section>
	<section id="footer">
		<section class="container">
			<p>Travel app ©</p>
		</section>
	</section>

</body>
</html>
