html {
  overflow-y: scroll;

}

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

html, body {
  height: 100%;
  display: block;
}

#footer {
  height: 60px;
}

section {
  // margin: 50px 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#wrap > .container {
  padding: 80px 15px 0;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.navbar.navbar-fixed-top {
  background: none;
  box-shadow: none;
  border-bottom: none;
  padding-top: 10px;
  background-color: white;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}

.col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  float: left;
}



h1 {
	margin-bottom: 16px;
  font-size: 36px;
  margin: 0.67em 0;
}

h3 {
	margin-top: 15px;
	margin-bottom: 15px;
  font-size: 24px;
}

h1, h3 {
  margin-top: 20px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

#content h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 button {
  margin-right: 10px;
}

img {
  max-width: 100%;
  max-height: 500px;
}

p {
  margin: 5px 0;
}

p.lead {
	margin-top: 30px;
}

@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

.lead {
  margin-bottom: 20px;
  // font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

a {
  cursor: pointer;
  color: #ff8c3a;
}




